:root {
    --fircol: #32d9c5;
    --seccol: #9E299A;
    --thicol: #003D32;
    --foucol: #def9f5;

}

.navcol {
    background-color: var(--foucol);
}


.btn {
    background-color: var(--fircol);
    border-color: var(--thicol);
    color: var(--foucol);
  }